<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Soporte</display-name>
  <welcome-file-list>
    <welcome-file>menu.html</welcome-file>
    <welcome-file>menu.htm</welcome-file>
    <welcome-file>menu.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>pe.gob.pj.csjar.tickets.controlador.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>LoginFilter</display-name>
    <filter-name>LoginFilter</filter-name>
    <filter-class>pe.gob.pj.csjar.tickets.controlador.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LoginFilter</filter-name>
    <url-pattern>/pages/*</url-pattern>
  </filter-mapping>
  <context-param>
    <param-name>UrlBD</param-name>
    <param-value>jdbc:sybase:Tds:127.0.0.1:2638?ServiceName=tickets</param-value>
  </context-param>
  <context-param>
    <param-name>DriverBD</param-name>
    <param-value>com.sybase.jdbc3.jdbc.SybDriver</param-value>
  </context-param>
  <context-param>
    <param-name>UsuarioBD</param-name>
    <param-value>dba</param-value>
  </context-param>
  <context-param>
    <param-name>ClaveBD</param-name>
    <param-value>sql</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>UsuarioServLet</display-name>
    <servlet-name>UsuarioServLet</servlet-name>
    <servlet-class>pe.gob.pj.csjar.tickets.controlador.UsuarioServLet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsuarioServLet</servlet-name>
    <url-pattern>/Usuario.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IncidenciaServlet</display-name>
    <servlet-name>IncidenciaServlet</servlet-name>
    <servlet-class>pe.gob.pj.csjar.tickets.controlador.IncidenciaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IncidenciaServlet</servlet-name>
    <url-pattern>/Incidencia.do</url-pattern>
  </servlet-mapping>
</web-app>